* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0C0B0B;
}

.container {
    width: 45vw;
    height: 300px;
    margin: auto;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 30px;
    margin-top: 25vh;
    background-color: #0F0E0E;
    color: #b7b7b7;
}

.profile img, .profile h1{
    display: inline-block;
}

.profile img {
    border-radius: 50%;
    width: 100px;
}